.col-md-4 {
  display: block;
  margin: auto;
  text-align: center;
}
.jumbotron {
  text-align: center;
  color: pink;
}
.btn {
  background-color: pink;
}
#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
  text-align: center;
  margin: auto;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: pink;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #ffe1e5;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}
